FIRECRACKER_WATCHDOG_SOCKETS=/tmp/kafka-fc.sock,/tmp/relay-fc.sock
FIRECRACKER_WATCHDOG_LOG_DIR=/var/log/firecracker
FIRECRACKER_WATCHDOG_FALLBACK_LOG_DIR=/tmp/firecracker
FIRECRACKER_WATCHDOG_LOG_FILE=overwatcher.log
FIRECRACKER_WATCHDOG_INTERVAL_SECONDS=10
FIRECRACKER_WATCHDOG_TIMEOUT_SECONDS=2
